<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>page index</title>
    </head>
    <body>
        <div class="form_msg_spam">
            <h1>spam email detection</h1>
            {% if message %}
                <h3>{{message}}</h3>
            {% endif %}
            <form action="{{ url_for('home')}}" method="post">
                <h3>email message</h3>
                <label for="emailText">
                    <input type="text" name="emailText">
                </label>
                <button type="submit">send</button>
            </form>
        </div>
    </body>
</html>